.col.s12
  = form_for @client do |f|
    = f.text_field :company_name1 ,id: 'company1', class: "materialize-textarea col s8 offset-s1", placeholder: '会社名1'
    = f.label '会社名1',for: 'company1',class: "col offset-s1"
    = f.text_field :company_name2 ,id: 'company2', class: "materialize-textarea col s8 offset-s1",placeholder: '会社名2'
    = f.label '会社名2',for: 'company2',class: "col offset-s1"
    = f.text_field :postcode ,id: 'postcode', class: "materialize-textarea col s8 offset-s2",placeholder: '郵便番号（ハイフンなし）'
    = f.label '郵便番号',for: 'postcode',class: "col offset-s1"
    = f.text_field :addr1 ,id: 'addr1', class: "materialize-textarea col s8 offset-s2",placeholder: '住所1（都道府県・市区町村）'
    = f.label '住所1',for: 'addr1',class: "col offset-s1"
    = f.text_field :addr2 ,id: 'addr2', class: "materialize-textarea col s8 offset-s2",placeholder: '住所2（町名・番地）'
    = f.label '住所2',for: 'addr2',class: "col offset-s1"
    = f.text_field :addr3 ,id: 'addr3', class: "materialize-textarea col s8 offset-s2",placeholder: '住所3（建物名・号室）'
    = f.label '住所3',for: 'addr3',class: "col offset-s1"
    = f.text_field :tel ,id: 'tel', class: "materialize-textarea col s8 offset-s2",placeholder: 'Tel'
    = f.label 'Tel',for: 'tel',class: "col offset-s1"
    = f.text_field :fax ,id: 'fax', class: "materialize-textarea col s8 offset-s2",placeholder: 'Fax'
    = f.label 'Fax',for: 'fax',class: "col offset-s1"
    = f.text_field :client_person_in_charge ,id: 'client_person_in_charge', class: "materialize-textarea col s8 offset-s2",placeholder: '顧客担当者'
    = f.label '顧客担当者',for: 'client_person_in_charge',class: "col offset-s1"
    = f.text_field :mobile ,id: 'mobile', class: "materialize-textarea col s8 offset-s2",placeholder: '携帯番号'
    = f.label '携帯番号',for: 'mobile',class: "col offset-s1"
    = f.text_field :url ,id: 'url', class: "materialize-textarea col s8 offset-s2",placeholder: 'URL'
    = f.label 'URL',for: 'url',class: "col offset-s1"
    = f.text_field :email ,id: 'email', class: "materialize-textarea col s8 offset-s2",placeholder: 'email'
    = f.label 'Email',for: 'email',class: "col offset-s1"
    = f.collection_select :client_rank_id, ClientRank.all, :id ,:rank,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "client-rank"}
    = f.label '顧客ランク',for: 'client-rank',class: "col offset-s1"
    = f.collection_select :client_cat_id, ClientCat.all, :id ,:category,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "client-cat"}
    = f.label '顧客区分',for: 'client-cat',class: "col offset-s1"
    = f.collection_select :closing_day_id, ClosingDay.all, :id ,:date,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "closing-day"}
    = f.label '締日',for: 'closing-day',class: "col offset-s1"
    = f.collection_select :payment_day_id,  PaymentDay.all, :id ,:date,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "payment-day"}
    = f.label '支払日',for: 'payment-day',class: "col offset-s1"
    = f.collection_select :payment_method_id, PaymentMethod.all, :id ,:method,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "payment-method"}
    = f.label '支払方法',for: 'payment-method',class: "col offset-s1"
    = f.collection_select :user_id, User.all, :id ,:email,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "user"}
    = f.label '自社担当',for: 'user',class: "col offset-s1"
    = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'
