.form
  = form_for @client,html: {class: "h-adr"} do |f|
    %span.p-country-name{style: "display:none;"}Japan
    .input-field.col.s8.offset-s1
      = f.text_field :company_name1 ,id: 'company1'
      = f.label '会社名1',for: 'company1'
    .input-field.col.s8.offset-s1
      = f.text_field :company_name2 ,id: 'company2'
      = f.label '会社名2',for: 'company2'
    .input-field.col.s4.offset-s1
      = f.text_field :postcode ,id: 'postcode',class: "p-postal-code"
      = f.label '郵便番号',for: 'postcode'
    .input-field.col.s8.offset-s1
      = f.text_field :addr1,class: "p-region",id: 'addr1'
      = f.label '住所1',for: 'addr1'
    .input-field.col.s8.offset-s1
      = f.text_field :addr2 ,id: 'addr2',class: "p-locality p-street-address"
      = f.label '住所2(町名・番地)',for: 'addr2'
    .input-field.col.s8.offset-s1
      = f.text_field :addr3 ,id: 'addr3',class: "p-extended-address"
      = f.label '住所3(建物名・号室)',for: 'addr3'
    .input-field.col.s8.offset-s1
      = f.text_field :tel ,id: 'tel'
      = f.label 'Tel',for: 'tel'
    .input-field.col.s8.offset-s1
      = f.text_field :fax ,id: 'fax'
      = f.label 'Fax',for: 'fax'
    .input-field.col.s8.offset-s1
      = f.text_field :client_person_in_charge ,id: 'client_person_in_charge'
      = f.label '顧客担当者',for: 'client_person_in_charge'
    .input-field.col.s8.offset-s1
      = f.text_field :mobile ,id: 'mobile'
      = f.label '携帯番号',for: 'mobile'
    .input-field.col.s8.offset-s1
      = f.text_field :url ,id: 'url'
      = f.label 'URL',for: 'url'
    .input-field.col.s8.offset-s1
      = f.text_field :email ,id: 'email'
      = f.label 'Email',for: 'email'
    .input-field.col.s4.offset-s1
      = f.collection_select :client_rank_id, ClientRank.all, :id ,:rank,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "client-rank"}
      = f.label '顧客ランク',for: 'client-rank'
    .input-field.col.s4.offset-s1
      = f.collection_select :client_cat_id, ClientCat.all, :id ,:category,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "client-cat"}
      = f.label '顧客区分',for: 'client-cat'
    .input-field.col.s4.offset-s1
      = f.collection_select :closing_day_id, ClosingDay.all, :id ,:date,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "closing-day"}
      = f.label '締日',for: 'closing-day'
    .input-field.col.s4.offset-s1
      = f.collection_select :payment_day_id,  PaymentDay.all, :id ,:date,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "payment-day"}
      = f.label '支払日',for: 'payment-day'
    .input-field.col.s4.offset-s1
      = f.collection_select :payment_method_id, PaymentMethod.all, :id ,:method,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "payment-method"}
      = f.label '支払方法',for: 'payment-method'
    .input-field.col.s4.offset-s1
      = f.collection_select :user_id, User.all, :id ,:name,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "user"}
      = f.label '自社担当',for: 'user'
    = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'
